body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: lightblue;
  font-size: 4.625rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', sans-serif;

}

h2{
  color: lightblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
}

h3 {
  color: lightblue;
   font-family: 'Montserrat', sans-serif;
   font-size: 200%;
}

p {
  font-size: 20px;
}

hr {
  border: dotted #F0F8FF 6px;
  border-bottom: none;
  width: 4;
}

.top-container {
  background-color: #008B8B;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #F0F8FF;
}

.bottom-container {
background-color: #008B8B;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.student {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.code-img {
  width: 40%;

}
.coding-img {
  width: 35%;
}

.code-skill-description{
  font-size: 128%;

}
